 body{
    background-image:url(./pexels-ann-h-1888009.jpg);
    background-repeat: no-repeat;
    /* background-size:contain; */
  background-size: 100%;
  background-attachment: fixed;

}
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(102, 75, 151);
    font-size: 5rem;
    text-align: center;
    opacity: 0.3;
    margin-top: 2px;
    
    
}

.input {
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#text{
    font-size: 30px;
}

.list {
text-align: center;
list-style-position: inside;

}

.item-done {
    text-decoration: line-through;
    color: green;
} 

#box{
    background-color: #F4F4F4;
    text-align: center;
    /* padding: 20px 20px; */
    margin: 70px auto;  
    width: 600px;
    border-radius: 30px;
    
    opacity: 0.9;
}


#btn{
    display: inline-block;
    height: 50px;
	width:200px;
	background-color: #1d063a;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:#ffffff;
	border-radius: 5px;
	margin-top:30px;
	padding: 5px;
    margin-bottom: 80px;
    cursor: pointer;
    
    
    
}
#btn:hover{
    letter-spacing: 4px;
    
    background-color: rgb(95, 204, 144);

}

input {
    height:60px ;
    width: 100vh;
    border-radius: 20px;
    margin-top: 30px;
   
}
label{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(29, 75, 75);
    
}
ul {
    font-size: 20px;
    color: rgb(22, 23, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: square;
    list-style-type: none;
  margin: 100px;
  padding: 0;
  display: inline;
}

#edit{
    display: inline-block;
    height:30px;
	width:70px;
	background-color: #9C599C;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:#ffffff;
	border-radius: 5px;
	margin-top:2px;
	padding: 5px;
}

/* /* button{

    display: inline-block;
    height:30px;
	width:70px;
	background-color: #9C599C;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:#ffffff;
	border-radius: 5px;
	margin-top:2px;
	padding: 6px; */
    


.butrem{
     /* margin-left: 20vh;  */
     background-color: rgb(62, 146, 161);
     height:30px;
	width:600px;
	font-weight: bold;
	border-radius: 5px;
	margin-top:2px;
	
    font-size: 20px;
    cursor: pointer;
    color: beige;

}
.butrem:hover {
    background-color:rgb(255, 72, 0)

}
img{
 width: 100px;
 align-items: center;
 
 
 /* position: absolute; */
 left:568px ;
 bottom: 270px;
 
}


/* .text2{
    margin-top: 100px;
} */

/* .divli{
    border-bottom:2px solid #4d5152 ;
    
} */

span{
    font-size: 20px;
}
.buttondone{
    background-color: rgb(62, 146, 161);
     height:30px;
	width: 600px;
	font-weight: bold;
	
	margin-top:2px;
	border: none;
    
    font-size: 20px;
    cursor: pointer;
    color: beige;

}

.buttondone:hover{
    background-color: yellowgreen;
}

.list-to-do{
    background-color: #5b61bb;
    text-align: center;
    /* padding: 20px 20px; */
    margin: 70px auto;  
    width: 600px;
    border-radius: 30px;
    
}
.list-done{
    background-color: #5a99ac;
    text-align: center;
    /* padding: 20px 20px; */
    margin: 70px auto;  
    width: 600px;
    border-radius: 30px;
}
.navbar navbar-expand-lg navbar-light bg-light{
    background-color: darkcyan;
}